/* FONTS */
@font-face {
  font-family: 'Harabara';
  src: url('harabara.otf');
}
@font-face {
  font-family: 'NotoSans';
  src: url('NotoSans-Regular.ttf');
}
* {
  font-family: 'NotoSans';
}

/* SIZE DECLARATION */
@media screen and (min-width: 0px) {
  :root {
    font-size: 10pt; margin: 0; padding: 0;
  }
}
@media screen and (min-width: 500px) {
  :root {
    font-size: 11pt; margin: 0; padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  :root {
    font-size: 12pt; margin: 0; padding: 0;
  }
}
@media screen and (min-width: 1500px) {
  :root {
    font-size: 13pt; margin: 0; padding: 0;
  }
}
@media screen and (min-width: 2000px) {
  :root {
    font-size: 14pt; margin: 0; padding: 0;
  }
}

/* GENERAL */
h1 {
  font-size: 1.3rem;
  color: #387499;
  margin: 1.5rem .2rem .2rem 1.5rem;
  grid-column: 1 / 9;
}
h2 {
  font-size: 1rem;
  color: #387499;
  margin: 1rem .2rem .2rem .8rem;
  grid-column: 1 / 9;
}
p {
  grid-column: 1 / 9; margin: .1rem;
}
.mail {
  grid-column: 1 / 9; margin: .1rem; color: #011E3E;
}
note {
  border-left: .3rem #EDB2C4 solid; grid-column: 1 / 5;
  border-radius: .15rem; color: #7A567A;
  padding: .5rem 1rem; margin: .5rem 1rem;
  font-size: .8rem; background: #FEE5E9;
  flex-shrink: 100%;   display: inline-flex; flex-wrap: wrap;
}
iframe {
  grid-column: 3 / 7;
  width: 100%; height: auto;
}
/* LAYOUT */
* {
  box-sizing: border-box;
}
body {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.banner {
  background: linear-gradient(to right, #382A4D, #4D395C, #382A4D);
  grid-column: 1 / 13;
  height: 5.3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: baseline;
}
.banner img {
  height: 4rem; width: 4rem; margin-top: .5rem;
  border-radius: 100%; box-shadow: 0 0 2rem #7A567A;
}
.banner p {
  width: 100%; margin-top: -1.8rem; padding: 0;
  text-align: center; font-family: 'Harabara'; font-size: 2rem;
  color: white;
}
nav {
  grid-column: 4 / 10;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: space-around;
  margin: .5rem;
}
nav button {
  padding: .5rem 1rem;
  border: 0; outline: 0;
  background: none;
  color: #7A567A;
  font-size: 1.1rem; font-weight: bold;
  font-family: 'NotoSans';
}
main {
  grid-column: 3 / 11;
}
.page {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
footer {
  grid-column: 1 / 13;
  margin-top: 3rem;
  display: flex; flex-wrap: wrap;
}
footer .info {
  width: 100%; background: linear-gradient(to right, #387499, #4E7B9C , #387499);
  display: flex; flex-wrap: wrap; justify-content: center;
  align-items: center; align-self: center; align-content: center;
}
.info h1 {
  font-size: .55rem; color: white; margin-left: 0; font-weight: bold;
}
.info p {
  font-size: .5rem; color: white;
}
.info div {
  width: 20%; margin: .5rem 0;
}
.info .love-holder {
  display: flex; width: 50%;
  align-items: center; align-self: center; align-content: center;
  text-align: center;
  font-weight: bold;
}
.info div .love {
  display: flex;
  align-items: center; align-self: center; align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 auto;
}
.love span{
  color: #ff4b4b; font-weight: bold; font-size: 2rem;
  padding: .2rem;
}
.info .page-info{
  text-align: right;
}

/* RESPONSIVE YOUTUBE EMNED*/
/* Credit: https://embedresponsively.com/ */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; grid-column: 3 / 7; border-radius: 1rem;}
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* GRAPHIC PROFILE */
.colors1 {
  grid-column: 1 / 3;
  display: flex; flex-wrap: wrap;
  justify-content: center;
}
.colors2 {
  grid-column: 4 / 6;
  display: flex; flex-wrap: wrap;
  justify-content: center;
  align-content: baseline;
}
.colors3 {
  grid-column: 7 / 9;
  display: flex; flex-wrap: wrap;
  justify-content: center;
}
.color {
  padding: 1rem; margin: .5rem auto; width: 90%;
  box-shadow: 0 0 1rem #0005; border-radius: 1rem;
  text-transform: uppercase; text-align: center;
}
.color::before {
  content: "#"
}

.images {
  grid-column: 1 / 9;
  display: flex; flex-wrap: wrap;
  justify-content: space-around;
}
.image {
  height: 14rem; width: 16rem;
  display: flex; flex-wrap: wrap;
  justify-content: space-around;
}
.image img {
  height: 12rem; width: auto; box-shadow: 0 0 1rem #0006;
  border-radius: 1rem;
}
.image a {
  text-align: center; text-decoration: none; font-weight: bold;
  padding: .5rem 2rem; margin: .5rem 1rem;
  color: white; background: #387499; border-radius: 1rem;
}

/* MISC. */
.coming-soon {
  background: linear-gradient(to right, #8189A0, #4E7B9C, #387499, #011E3E, #0C1125, #231E3C, #382A4D, #4D395C, #7A567A, #D2A2B0, #EDB2C4, #FEE5E9, #F4F6F5, #FFFBFC);
  height: 50rem; grid-column: 1 / 9;
}
.coming-soon p {
  font-size: 5rem; text-align: center; color: #4b4b4b;
}
